body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif; //"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

section {
    width: 100%;
    background: $bg-intro;
    text-align: center;
    &.share {
        height: 60px;
        background: $bg-share;
        border-bottom: 2px solid darken($bg-share, 8%);
    }
    header {
        padding: 2em 0 0.35em 0;
        color: $t-header;
        font-weight: 800;
        font-size: 4em;
        text-shadow: 0 2px 0 $t-header-shadow;
        letter-spacing: -1px;
    }
    h2 {
        color: $t-header;
        font-weight: 600;
        font-size: 1.5em;
        text-shadow: 0 1px 0 $t-header-shadow;
    }
}



