body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif; //"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

section {
    width: 100%;
    text-align: center;
    &#intro {
        background: $bg-intro;
    }
    &#share {
        height: 60px;
        padding: 14px 0;
        background: whitesmoke;
        border-bottom: 2px solid darken($bg-share, 8%);
    }
    &#usage {
        background: #e74c3c;
        h2{
            color: whitesmoke;
        }
    }
    header {
        padding: 2em 0 0.35em 0;
        color: $t-header;
        font-weight: 800;
        font-size: 4em;
        text-shadow: 0 2px 0 $t-header-shadow;
        letter-spacing: -1px;
    }
    h2 {
        color: $t-header;
        font-weight: 600;
        font-size: 1.5em;
        text-shadow: 0 1px 0 $t-header-shadow;
    }
    .container {
        width: 50%;
        margin: 2em auto 0 auto;
    }
    li {
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.15em;
        line-height: 1.5em;
        text-align: left;
        position: relative;
        &:before {
            content: "1.";
            position: absolute;
            top: 0;
            left: -25px;
        }
    }
}



