<!doctype html>
<html class="no-js" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Pretty Slider: a jQuery-less slider</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="/bower_components/pretty-slider/prettyslider.css">

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-controller="mainCtrl">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section id="intro">
            <header class="intro">Pretty Slider</header>
            <h2>A beautiful jQuery-less slider implementation for AngularJS.</h2>
            <div pretty-slider floor="0" ceiling="1000" step="50" precision="2" ng-model="item.cost"></div>
            <p>{{ item.cost }}</p>
        </section>
        <section id="share">
            <table><tr><td><iframe src="http://ghbtns.com/github-btn.html?user=usmakestwo&repo=pretty-slider&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=usmakestwo&repo=pretty-slider&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=usmakestwo&type=follow&count=true&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe></td></tr></table>
        </section>
        <section id="usage">
            <header>But how do I use it?</header>
            <h2>Oh, that's the easy part.</h2>
            <div class="container">
                <ol>
                    <li data-number="1.">Make sure you have AngularJS v1.1.4 or higher installed. If you don't yet, this is a <a href="https://docs.angularjs.org/tutorial" target="_">good tutorial</a> to get started.</li>
                    <li data-number="2.">Clone the repo!</li>
                    <li data-number="3.">Make sure to load AngularJS first in your HTML, followed by angular-slider.js file. Don't forget to include the related angular-slider.css file.</li>
                    <li data-number="4.">The module name is named prettySlider. To enable it, you must simply list it as a dependency in your app. Example:</li>
                </ol>
                    <pre><code class="language-javascript">var app = angular.module('app', ['prettySlider', 'ngResource', ...]);</code></pre>
                <ol>
                    <li data-number="5.">You can then use it in your template like so:</li>
                </ol>
                    <pre><code class="language-markup"> &ltdiv pretty-slider floor="0" ceiling="1000" step="50" precision="2" ng-model="item.cost"&gt</code></pre>
            </div>
        </section>
        <footer>
          <p>&#10719; This nifty little tool was lovingly made by a two-brother collective called <a href="http://github.com/usmakestwo" target="_">usmakestwo</a>. &#10719;</p>
        </footer>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
        <script src="/bower_components/pretty-slider/prettyslider.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/prism.js"></script>
        
</body>
</html>
